@import url("https://fonts.googleapis.com/css?family=Lato:700|Open+Sans|Roboto+Slab:400,700&display=swap");
@-webkit-keyframes dropWorks {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.7;
  }
  40% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  70% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  85% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes dropWorks {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.7;
  }
  40% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  70% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  85% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    color: #ffff7a;
  }
  40% {
    color: #92f365;
  }
  60% {
    color: #68bafd;
  }
  80% {
    color: #ffa15e;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20% {
    color: #ffff7a;
  }
  40% {
    color: #92f365;
  }
  60% {
    color: #68bafd;
  }
  80% {
    color: #ffa15e;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes disco {
  0% {
    color: white;
  }
  20% {
    color: #ffff98;
  }
  40% {
    color: #b8ff98;
  }
  60% {
    color: #9bd2ff;
  }
  80% {
    color: #ff9e9b;
  }
  100% {
    color: #ffe5d2;
  }
}

@keyframes disco {
  0% {
    color: white;
  }
  20% {
    color: #ffff98;
  }
  40% {
    color: #b8ff98;
  }
  60% {
    color: #9bd2ff;
  }
  80% {
    color: #ff9e9b;
  }
  100% {
    color: #ffe5d2;
  }
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-0.2em);
            transform: translateY(-0.2em);
  }
  75% {
    -webkit-transform: translateY(0.2em);
            transform: translateY(0.2em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-0.2em);
            transform: translateY(-0.2em);
  }
  75% {
    -webkit-transform: translateY(0.2em);
            transform: translateY(0.2em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  background-color: #ffffff;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  width: 95%;
}

.center-measure {
  max-width: 1170px;
  width: 95%;
}

.flx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-column-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-column-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flx-column-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-column-around-str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front-of {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(31, 56, 56, 0.301);
}

.color-light {
  color: white;
}

a {
  text-decoration: none;
}

.btn-green {
  border-radius: 2px;
  background-color: #42a906;
}

.rmore {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  padding: .5em 1em;
  border-radius: 1.2em;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 1.2px #42a90600;
}

.rmore:hover {
  border: solid 1.2px #43a906;
  color: #43a906;
}

.icon-socials + .icon-socials {
  margin-left: .9em;
}

.icon-socials {
  font-size: 12px;
  color: #646464;
}

.icon-socials:hover {
  color: #43a906;
}

.contacts-line {
  height: 48px;
  -webkit-box-shadow: 0 1px 3px rgba(155, 155, 155, 0.2);
          box-shadow: 0 1px 3px rgba(155, 155, 155, 0.2);
  background-color: #fbfbfb;
}

.contacts-line .contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-line .contacts-wrap .local-and-tel {
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #646464;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
}

.contacts-line .contacts-wrap .local-and-tel span + span {
  border-left: 1px solid #e6e5e5;
  padding-left: 2.8em;
}

.fa-home, .fa-phone-alt {
  margin-right: .3em;
}

.navigation-block {
  height: 105px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-wrap {
  position: relative;
}

.logo-wrap .fa-envira {
  position: absolute;
  color: #43a906;
  font-size: 23px;
  -webkit-transform: translate(0.92em, -0.39em);
          transform: translate(0.92em, -0.39em);
}

.logo-wrap .envira-right {
  -webkit-transform: rotateY(180deg) translate(-1.8em, -0.39em);
          transform: rotateY(180deg) translate(-1.8em, -0.39em);
}

.logo-wrap span {
  color: #3e3e3e;
  font-family: "Roboto Slab";
  font-size: 29px;
  font-weight: bold;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style-type: none;
  position: relative;
}

nav ul li + li {
  margin-left: 35px;
}

nav ul li a {
  height: 104px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #393939;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -23px;
  right: -27px;
  height: 4px;
  background-color: #43a906;
}

nav ul li a:hover {
  color: #43a906;
}

.main-baner {
  height: 785px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-baner img {
  width: 100%;
}

.baner-title-btn-wrap {
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.baner-title-btn-wrap .above-title {
  font-family: "Lato";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -0.23px;
}

.baner-title-btn-wrap .title {
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 400;
  font-weight: bold;
  text-transform: uppercase;
}

.baner-title-btn-wrap .under-title {
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
}

.baner-title-btn-wrap a {
  display: block;
  padding: 24px 46px;
  border-radius: 2px;
  background-color: #1e352e;
  -webkit-box-shadow: 2px 3px 5px  #041404a6;
          box-shadow: 2px 3px 5px  #041404a6;
}

.welcome-block {
  height: 645px;
}

.welcome-wrap {
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-wrap .welcome-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-wrap .welcome-title-wrap h2 {
  color: #222222;
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
}

.welcome-symbols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.welcome-symbols .symbols-block {
  height: 280px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-symbols .symbols-block:hover div {
  background-color: #43a906;
  border: solid 2px #43a906;
}

.welcome-symbols .symbols-block:hover .fa-sun, .welcome-symbols .symbols-block:hover .fa-map-marker-alt,
.welcome-symbols .symbols-block:hover .fa-recycle, .welcome-symbols .symbols-block:hover .fa-pagelines {
  color: white;
}

.welcome-symbols .symbols-block:hover h5 {
  color: #43a906;
}

.welcome-symbols .symbols-block div {
  width: 120px;
  height: 120px;
  border: solid 2px #c4c4c4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-symbols .symbols-block div .fa-sun, .welcome-symbols .symbols-block div .fa-map-marker-alt,
.welcome-symbols .symbols-block div .fa-recycle, .welcome-symbols .symbols-block div .fa-pagelines {
  color: #c4c4c4;
  font-size: 40px;
  font-weight: bold;
}

.welcome-symbols .symbols-block h5 {
  color: #393939;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.welcome-symbols .symbols-block span {
  text-align: center;
}

.volunteer-block {
  height: 302px;
  background-color: #222222;
}

.volunteer-block section {
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.volunteer-block section a {
  display: block;
  padding: 18px 67px;
}

.volunteer-text {
  width: 60%;
}

.vol-word {
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.vol-word-2 {
  color: #43a906;
}

.our-works-block {
  height: 1046px;
}

.our-works-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 820px;
}

.btn-uor-works {
  display: inline-block;
  text-transform: uppercase;
  padding: 18px 22px;
  border-radius: 2px;
  border: 1px solid #e9e9e9;
  background-color: #f6f6f6;
  color: #6a6b6a;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-uor-works:hover {
  background-color: #43a906;
  color: white;
  -webkit-animation: disco 1s infinite linear;
          animation: disco 1s infinite linear;
}

.our-works-title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-works-title-section h3 {
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
}

.our-works-img-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.our-works-img-section .our-works-img-wrap {
  cursor: pointer;
  position: relative;
  height: 100%;
}

.our-works-img-section .our-works-img-wrap img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.our-works-img-section .our-works-img-wrap:hover > div {
  opacity: 1;
  -webkit-animation: dropWorks 0.5s  ease;
          animation: dropWorks 0.5s  ease;
}

.our-works-img-section .our-works-img-wrap:hover > div span {
  -webkit-animation: rot .8s .5s;
          animation: rot .8s .5s;
}

.our-works-img-section .our-works-img-wrap div {
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.637);
  top: .7em;
  left: .7em;
  bottom: .7em;
  right: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.our-works-img-section .our-works-img-wrap div span {
  color: white;
  text-transform: uppercase;
}

.i-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.i-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.i-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.i-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.i-5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.our-achivement-block {
  height: 567px;
  position: relative;
}

.our-achivement-block .achiv-fon-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  overflow: hidden;
}

.our-achivement-block .achiv-fon-block img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .35;
  -webkit-transform: translate(0, -10em);
          transform: translate(0, -10em);
}

.our-achivement-block section {
  height: 340px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  color: white;
}

.our-achivement-title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-achivement-title-section h3 {
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
}

.our-achivement-data-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.our-achivement-data-section .achiv-data-wrap {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-achivement-data-section .achiv-data-wrap:hover .fa-tree, .our-achivement-data-section .achiv-data-wrap:hover .fa-paw, .our-achivement-data-section .achiv-data-wrap:hover .fa-leaf,
.our-achivement-data-section .achiv-data-wrap:hover .fa-arrow-up, .our-achivement-data-section .achiv-data-wrap:hover .fa-cloud {
  color: #a1bd7c;
  -webkit-animation: fly 2.5s  infinite linear;
          animation: fly 2.5s  infinite linear;
}

.our-achivement-data-section .achiv-data-wrap hr {
  width: 82px;
}

.our-achivement-data-section .achiv-data-wrap .data {
  font-family: "Roboto Slab";
  font-size: 37px;
  font-weight: bold;
}

.our-achivement-data-section .achiv-data-wrap span {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.fa-tree, .fa-paw, .fa-leaf, .fa-arrow-up, .fa-cloud {
  color: #43a906;
  font-size: 78px;
  font-weight: bold;
}

.latest-event-block {
  height: 955px;
}

.latest-event-block section {
  height: 730px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-event-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.latest-event-title-wrap h3 {
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
}

.latest-event-content-wrap {
  width: 100%;
  height: 590px;
  display: -ms-grid;
  display: grid;
  gap: 22px;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.latest-event-big-blocks {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: #eff0f2;
}

.latest-event-small-blocks {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 35px;
}

.small-blocks-articles-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 22px;
          column-gap: 22px;
}

.small-blocks-articles-wrap a {
  display: block;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  text-decoration: none;
}

.small-blocks-articles-wrap a h3 {
  color: #454444;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
}

.small-blocks-articles-wrap a p {
  color: #646464;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  margin-top: 1.2em;
}

.event-big-blocks-article {
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.event-big-blocks-article p {
  text-align: center;
  padding: 0 1.9em;
  font-size: 14px;
}

.event-big-blocks-article p::first-letter {
  padding-left: 6px;
}

.event-big-blocks-article .btn-lat-event {
  display: block;
  padding: 15px 30px;
  border-radius: 2px;
  border: 1px solid #383938;
  background-color: #101010;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.event-big-blocks-article .btn-lat-event:hover {
  background-color: #43a906;
  border: solid 1px #43a906;
}

.testimonials-block {
  height: 682px;
  background-color: #010501;
  color: #ffffff;
}

.testimonials-title-wrap {
  height: 25%;
}

.testimonials-title-wrap h3 {
  font-family: "Roboto Slab";
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: .9em;
}

.testimonials-center-block {
  height: 495px;
}

.testimonials-content-wrap {
  width: 100%;
}

.testimonials-personal-wrap {
  width: 570px;
}

.testimonials-img-wrap {
  position: absolute;
  width: 100%;
}

.img-cyrcle {
  background-color: #bdbebd;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  margin: auto;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  overflow: hidden;
}

.img-cyrcle img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -1em;
     object-position: 0 -1em;
  width: 100%;
}

.testimonials-text-block {
  background-color: #fff;
  color: #646464;
  position: relative;
  height: 190px;
  margin-bottom: 30px;
}

.testimonials-text-block span {
  display: block;
  padding: 68px 10px 55px 65px;
}

.green {
  color: #43a906;
}

.fa-quote-left {
  position: absolute;
  -webkit-transform: translate(-2.2em, 0.2em);
          transform: translate(-2.2em, 0.2em);
}

.testimonials-pers-bottom-block {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
}

.latest-blog-block {
  height: 927px;
}

.latest-blog-section {
  height: 90%;
  padding-bottom: 5em;
}

.latest-blog-title-wrap {
  height: 215px;
}

.latest-blog-title-wrap h3 {
  text-transform: uppercase;
  color: #222222;
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: bold;
  line-height: 90px;
}

.latest-blog-content {
  width: 100%;
}

.latest-blog-content-article {
  height: 558px;
  width: 375px;
}

.latest-blog-content-article-wrap {
  padding: 1.2em;
  height: 313px;
  border-radius: 2px;
  border-left: solid 1px #d1d3d1;
  border-right: solid 1px #d1d3d1;
  border-bottom: solid 1px #d1d3d1;
}

.latest-blog-content-article-title {
  color: #454444;
  font-family: "Roboto Slab";
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
}

.latest-blog-content-article-data span {
  font-family: "Open Sans";
  font-weight: 700;
  letter-spacing: 0.65px;
  color: #aeadad;
  font-size: 13px;
}

.latest-blog-content-article-data span span {
  padding-right: 1em;
}

.latest-blog-content-article-data span span + span {
  padding-left: 1em;
  border-left: 1.2px solid;
}

.img-wrap img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wordpress-theme-block {
  position: relative;
  height: 200px;
  background-color: #323232;
  overflow: hidden;
}

.wordpress-theme-block .wordpress-bg {
  background-color: rgba(0, 0, 0, 0.425);
}

.wordpress-theme-block .wordpress-bg section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wordpress-theme-block .wordpress-bg section span {
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
}

.wordpress-theme-block .wordpress-bg section a {
  display: block;
  padding: 16px 60px;
}

.wordpress-theme-block img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.brands-line-block {
  height: 200px;
}

.brands-line-block section {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us-block {
  height: 852px;
  background-color: #eeeeee;
}

.contact-us-block-title {
  height: 200px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contact-us-block-title h6 {
  color: #222222;
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-us-block-wrap {
  height: 625px;
}

.contact-us-block-map {
  height: 490px;
}

.contact-us-block-map span {
  color: #222222;
  font-family: "Roboto Slab";
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-us-block-map .info-wrap {
  padding-bottom: 1.5em;
}

.contact-us-block-map .info-wrap p {
  color: #696969;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0;
}

.contact-us-block-map iframe {
  width: 550px;
  height: 300px;
}

.contact-us-block-forms {
  height: 490px;
  width: 570px;
}

.contact-us-block-forms h6 {
  font-family: "Roboto Slab";
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-us-block-forms form {
  height: 440px;
}

.contact-us-block-forms form input {
  height: 50px;
}

.contact-us-block-forms form .input {
  border-radius: 2px;
  border: 1px solid #cacaca;
  background-color: #d4d4d4;
  color: #696969;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
}

.contact-us-block-forms form textarea {
  width: 570px;
  height: 219px;
  padding-top: 1em;
  resize: none;
  border-radius: 2px;
  border: 1px solid #cacaca;
  background-color: #d4d4d4;
}

.contact-us-block-forms-info {
  width: 100%;
}

.contact-icons {
  margin-right: .41em;
  font-size: 22px;
  color: #696969;
}

.btn-form {
  width: 200px;
  border: none;
  border-radius: 2px;
  background-color: #43a906;
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-data-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-data {
  width: 280px;
}

.footer {
  height: 90px;
  background-color: #222222;
}

.footer section {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer section span {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */