*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  background-color: #ffffff;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px gray;
  max-width: 1170px;
  width: 95%;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front-of {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(31, 56, 56, 0.301);
}

.color-light {
  color: #ffffff;
}

a {
  text-decoration: none;
}

.contacts-line {
  height: 48px;
  margin: auto;
}

.navigation-block {
  height: 105px;
  margin: auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style-type: none;
}

nav ul li + li {
  margin-left: 35px;
}

nav ul li a {
  height: 100px;
  display: inline-block;
  border: solid 1px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #43a906;
}

.main-baner {
  height: 785px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-baner img {
  width: 100%;
}

.baner-title-btn-wrap {
  border: none;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.baner-title-btn-wrap .title {
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 400;
  font-weight: bold;
  text-transform: uppercase;
}

.baner-title-btn-wrap a {
  display: block;
  padding: 24px 46px;
  border-radius: 2px;
  background-color: #1e352e;
  -webkit-box-shadow: 2px 3px 5px  #041404a6;
          box-shadow: 2px 3px 5px  #041404a6;
}

.welcome-block {
  height: 645px;
}

.welcome-wrap {
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.volunteer-block {
  height: 302px;
  background-color: #222222;
}

.our-works-block {
  height: 1046px;
}

.our-achivement-block {
  height: 567px;
  background-color: #bdbebd;
}

.latest-event-block {
  height: 955px;
}

.testimonials-block {
  height: 682px;
  background-color: #010501;
}

.latest-blog-block {
  height: 927px;
}

.wordpress-theme-block {
  height: 200px;
  background-color: #323232;
}

.brands-line-block {
  height: 200px;
}

.contact-us-block {
  height: 852px;
  background-color: #eeeeee;
}

.footer {
  height: 90px;
  background-color: #222222;
}
/*# sourceMappingURL=main.css.map */