
@import url('https://fonts.googleapis.com/css?family=Lato:700|Open+Sans|Roboto+Slab:400,700&display=swap');

// ==== MIXINS =====================>
@mixin flexVar($dir, $just, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}
@mixin flexReg {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin brd {
    // border: solid 1px gray;  
}
// ===== animation =================> 
@keyframes dropWorks{ 
    0%{
        transform: scale(0); 
        opacity: 0.7;
    }
    40%{
        transform: scale(1.06);
        opacity: 1;
    }
    55%{
        transform: scale(0.96);
    }
    70%{
        transform: scale(1.03);
    }
    85%{
        transform: scale(0.98);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes rot{
    0%{
        transform: rotate(0);
    }
    20%{
        color: rgb(255, 255, 122);
    }
    40%{
        color: rgb(146, 243, 101);
    }
    60%{
        color: rgb(104, 186, 253);
    }
    80%{
        color: rgb(255, 161, 94);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes disco{
    0%{
        color: rgb(255, 255, 255);
    }
    20%{
        color: rgb(255, 255, 152);
    }
    40%{
        color: rgb(184, 255, 152);
    }
    60%{
        color: rgb(155, 210, 255);
    }
    80%{
        color: rgb(255, 158, 155);
    }
    100%{
        color: rgb(255, 229, 210);
    }
}
@keyframes fly{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-0.2em);
    }
    75%{
        transform: translateY(0.2em);

    }
    100%{
        transform: translateY(0);
    }
}
// ==== MAIN =======================>
*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(238, 238, 238);
}
::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    max-width: 1920px;
    width: 100%;
    min-height: 100vh;
    // 
    margin: auto;
    // 
    background-color: #ffffff;
}
.center{
    @include flexReg();
    @include brd();
    // 
    max-width: 1170px;
    width: 95%;
    // min-height: 5em;
}
.center-measure{
    max-width: 1170px; 
    width: 95%;
    // 
    @include brd();
}
.flx-row{
    @include flexVar(row, space-between, center);
    @include brd();
}
.flx-column{
    @include flexVar(column, space-between, center);
    @include brd();
}

.flx-column-center{
    @include flexVar(column, center, center);
    @include brd();
}
.flx-column-stretch{
    @include flexVar(column, space-between, stretch);
    @include brd();

}
.flx-column-around{
    @include flexVar(column, space-around, center);
    @include brd();
}
.flx-column-around-str{
    @include flexVar(column, space-around, stretch); 
    @include brd();
}
.block{
    @include flexReg();
}
.front-of{
    @include flexReg();
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // 
    z-index: 10;
    // 
    background-color: rgba(31, 56, 56, 0.301);
}
.color-light{
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
}
.btn-green{
    border-radius: 2px;
    background-color: rgb(66, 169, 6);
}

// ==== HEADER =====================>

.contacts-line{
    height: 48px;
    // 
    box-shadow: 0 1px 3px rgba(155, 155, 155, 0.2);
    background-color: #fbfbfb;
    .contacts-wrap{
        @include flexVar(row, space-between, center);

        .local-and-tel{
            width: 35%;
            // 
            @include flexVar(row, space-between, center);
            // 
            color: #646464;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: bold; 
            span + span{
                border-left: 1px solid #e6e5e5;
                padding-left: 1em;
            }
        }
    }

}
// ==== NAVIGATION ==================>
.navigation-block{
    height: 105px;
    margin: auto;
    // 
    @include flexVar(row, space-between, center);

}
.logo-wrap{
    span{
        color: #3e3e3e;
        font-family: "Roboto Slab";
        font-size: 29px;
        font-weight: bold;
    }
}
nav ul{
    display: flex;

    li{
        list-style-type: none;
        position: relative;
        
        &+li{
            margin-left: 35px;
        }
        a{
            height: 104px;
            display: inline-block;
            @include brd; 
            display: flex;
            align-items: center;
            border-bottom: 4px solid #42a90600;  
            // 
            color: #393939;
            font-family: "Roboto Slab";
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            &:hover{
                border-bottom: 4px solid #43a906;  
                color: #43a906;

            }

        }
    }
}
// ==== BANER =====================>
.main-baner{
    height: 785px;
    // 
    overflow: hidden;
    position: relative;
    // 
    @include flexVar(row, center, center);
    img{
        // object-fit: cover;
        // object-position: center;
        width: 100%;
    }
}
.baner-title-btn-wrap{
    height: 280px;
    // 
    @include flexVar(column, space-between, center);
    .above-title{
        font-family: "Lato";
        font-size: 40px;
        font-weight: 400;
        letter-spacing: -0.23px;
    }
    .title{
        font-family: "Open Sans";
        font-size: 60px;
        font-weight: 400;
        // 
        font-weight: bold;
text-transform: uppercase;

    }
    .under-title{
        font-family: Lato;
        font-size: 20px;
        text-transform: uppercase;
    }
    a{
        display: block;
        padding: 24px 46px;
        border-radius: 2px;
        background-color: #1e352e;
        box-shadow: 2px 3px 5px  #041404a6;
    }
}
// =====================================>
.welcome-block{
    height: 645px;
}
.welcome-wrap{
    height: 420px;
    // 
    @include flexVar(column, space-between, center);
    .welcome-title-wrap{
        // border: solid 1px;
        @include flexVar(column, space-between, center);
        // 
        h2{
            color: #222222;
            font-family: "Roboto Slab";
            font-size: 36px;
            font-weight: bold;
            line-height: 90px;
            text-transform: uppercase;
        }
    }
}
.welcome-symbols{
    @include flexVar(row, space-between, center); 
    width: 100%;
    .symbols-block{
        height: 280px;
        width: 250px;
        // @include brd; 
        @include flexVar(column, space-between, center);
        &:hover {
            div{
                background-color: #43a906;
                border: solid 2px #43a906;
            }
            .fa-sun, .fa-map-marker-alt,
            .fa-recycle, .fa-pagelines{
                color: white;
            }
            h5{
                color: #43a906;
            }
        }
        div{
            width: 120px;
            height: 120px;
            border: solid 2px #c4c4c4;
            border-radius: 50%;
            // 
            @include flexReg();
            .fa-sun, .fa-map-marker-alt,
            .fa-recycle, .fa-pagelines{
                color: #c4c4c4;
                font-size: 40px;
                font-weight: bold;

            }
        }
        h5{
            color: #393939;
            font-family: "Roboto Slab";
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
        }
        span{
            text-align: center;
        }
    }
    
}
// =====================================>
.volunteer-block{
    height: 302px;
    // 
    background-color: #222222;
    section{
        border: none;
        justify-content: space-between;
        a{  
            display: block;
            padding: 18px 67px;
            // 

        }
    }
}
.volunteer-text{
    width: 60%;
}
.vol-word{
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;

    &-2{
        color: #43a906;
    }
}
// =====================================>
.our-works-block{
    height: 1046px;

}
.our-works-wrap{
    flex-direction: column;
    justify-content: space-between;
    height: 820px;
    // border: solid 1px;

}
.btn-uor-works{
    display: inline-block;
    text-transform: uppercase;
    padding: 18px 22px;
    // 
    border-radius: 2px;
    border: 1px solid #e9e9e9;
    background-color: #f6f6f6;
    // 
    color: #6a6b6a;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .4s;
    &:hover{
        background-color: #43a906;
        color: white;
        animation:disco 1s infinite linear;
    }

}
.our-works-title-section{
    @include flexVar(column, space-between, center);
    h3{
        font-family: "Roboto Slab";
        font-size: 36px;
        font-weight: bold;
        line-height: 90px;
        text-transform: uppercase;
    }
}
.our-works-img-section{
    // border: solid 1px;
    // 
    display: grid;
    grid-template-columns: repeat(4, auto);
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    .our-works-img-wrap{ 
        cursor: pointer;
        position: relative;
        height: 100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        &:hover > div{
            opacity: 1;
            animation:dropWorks 0.5s  ease;
            // display: block;
            span{
                animation:rot .8s .5s;
            }


        }

        div{
            cursor: pointer;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.637);
            top: .7em;
            left: .7em;
            bottom: .7em;
            right: .7em;
            @include flexReg();
            // 
            opacity: 0;
            // display: block;
            // 

            span{
                color: white;
                text-transform: uppercase;
            }
        }
    }
}
.i-1{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.i-2{
    grid-row: 1 / 2;
    grid-column: 3 / 4;

}
.i-3{
    grid-row: 2 / 3;
    grid-column: 1 / 2;

}
.i-4{
    grid-row: 2 / 3;
    grid-column: 2 / 4;

}
.i-5{
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}
// =====================================>
.our-achivement-block{
    height: 567px;
    position: relative;
    // 
    // background-color: #bdbebd;
    // opacity: 0.22;
    // border: solid;
    .achiv-fon-block{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // 
        background-color: #000000;
        // 
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
            opacity: .35;
            transform: translate(0, -10em); 
        }
    }
    section{
        height: 340px;
        flex-direction: column;
        justify-content: space-between;
        // 
        position: relative;
        // 
        color: white;
        // border: white solid 1px;
    }
}
.our-achivement-title-section{
    @include flexVar(column, center, center);
    h3{
        font-family: "Roboto Slab";
font-size: 36px;
font-weight: bold;
line-height: 90px;
text-transform: uppercase;
    }
}
.our-achivement-data-section{
    @include flexVar(row, space-between, center); 
    // @include flexReg();
    // 
    width: 100%;
    // border: yellowgreen solid 1px;
    .achiv-data-wrap{
        height: 200px;
        // border: yellowgreen solid 1px;
        @include flexVar(column, space-between, center);
        &:hover .fa-tree, &:hover .fa-paw,&:hover .fa-leaf,
        &:hover .fa-arrow-up,&:hover .fa-cloud{
            color: rgb(161, 189, 124);
            animation:fly 2.5s  infinite linear;
        }
        hr{
            width: 82px;
        }
        .data{
            font-family: "Roboto Slab";
            font-size: 37px;
            font-weight: bold;
        }
        span{
            font-family: "Roboto Slab";
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
        }

    }
}
.fa-tree, .fa-paw, .fa-leaf, .fa-arrow-up, .fa-cloud{
    color: #43a906;
    font-size: 78px;
    font-weight: bold;

}
// =====================================>
.latest-event-block{
    height: 955px;

    section{
        height: 730px;
        flex-direction: column;
        justify-content: space-between;
    }
}
.latest-event-title-wrap{
    @include flexVar(column, space-between, center);
    height: 80px;
    h3{
        font-family: "Roboto Slab";
        font-size: 36px;
        font-weight: bold;
        line-height: 50px;
        text-transform: uppercase;
    }
}
.latest-event-content-wrap{
    width: 100%;
    height: 590px;
    // border: solid 1px;
    // 
    display: grid;
    gap: 22px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.latest-event-big-blocks{
    grid-row: 1 / 3;
    // 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    // 
    background-color: #eff0f2;
}
.latest-event-small-blocks{
    grid-row: 1 / 3;
    // 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 35px;
}
.small-blocks-articles-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 22px;
    a{
        display: block;
        // 
        grid-column: 2 / 5;
        // 
        text-decoration: none;
        h3{
            color: #454444;
            font-family: "Roboto Slab";
            font-size: 18px;
            font-weight: 700;
        }
        p{
            color: #646464;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: bold;
            // 
            margin-top: 1.2em;
        }
    }
} 
// 
.event-big-blocks-article{
    margin: auto;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
    p{
        text-align: center;
        padding: 0 1em;
    }
    .btn-lat-event{
        display: block;
        padding: 15px 30px;
        border-radius: 2px;
        border: 1px solid #383938;
        background-color: #101010;
        // 
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all .2s;
        &:hover{
            background-color: #43a906;
            border: solid 1px #43a906;
        }
    }
}

// =====================================>
.testimonials-block{
    height: 682px;
    // 
    background-color: #010501;
    color: #ffffff;
}
.testimonials-title-wrap{
    height: 40%;
    h3{
        font-family: "Roboto Slab";
        font-size: 36px;
        text-transform: uppercase;
    }
}
.testimonials-center-block{
    height: 455px;
}
.testimonials-content-wrap{
    width: 100%;
}
.testimonials-personal-wrap{
    width: 570px;
}
// 
.testimonials-img-wrap{
    // border: solid 1px;
    // 
    position: absolute;
    width: 100%;
}
.img-cyrcle{
    background-color: #bdbebd;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    // 
    margin: auto;
    transform: translate(0, -50%);
    overflow: hidden;
    img{
        object-fit: cover;
        object-position: 0 -1em;
        width: 100%;
    }
}
.testimonials-text-block{
    background-color: #fff;
    color: #646464;
    // 
    position: relative;
    height: 190px;
    margin-bottom: 30px;
    span{
        display: block;
    padding: 68px 10px 55px 65px;
    // border: solid 1px;

    }
}
.green{
    color: #43a906;
}
.fa-quote-left{
    position: absolute;
    transform: translate(-2.2em, 0.2em);
}
// =====================================>
.latest-blog-block{
    height: 927px;
}
.latest-blog-title-wrap{
    height: 215px;
}
// 
.latest-blog-content{
        width: 100%;
        &-article{
        height: 558px;
        width: 375px;
    }
    &-article-wrap{
        padding: 1.2em;
        height: 313px;
        // 
        border-radius: 2px;
        border-left: solid 1px #d1d3d1;
        border-right: solid 1px #d1d3d1;
        border-bottom: solid 1px #d1d3d1;

    }
}
.img-wrap{
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
// =====================================>
.wordpress-theme-block{
    position: relative;
    height: 200px;
    // 
    background-color: rgb(50, 50, 50);
    overflow: hidden;
    .wordpress-bg{
        background-color: rgba(0, 0, 0, 0.425);
        section{
            @include flexVar(row, space-between, center);
             span{
            font-family: "Roboto Slab";
            font-size: 36px;
            font-weight: bold;
            line-height: 90px;
            text-transform: uppercase;
            }
            a{
                display: block;
                padding: 16px 60px;
            }
        }
    }
    img{
        object-fit: cover;
        object-position: center;
    }
}
// =====================================>
.brands-line-block{
    height: 200px;
    section{
        justify-content: space-between;
    }
}
// =====================================>
.contact-us-block{
    height: 852px;
    // 
    background-color: #eeeeee;
    &-wrap{
        height: 625px;
    }
    &-map{
        height: 490px;
        // border: solid;
        iframe{
            width: 550px;
            height: 300px;
        }
    }
    &-forms{
        height: 490px;
        width: 570px;
        form{
            height: 440px;
            textarea{
                width: 570px;
                height: 219px;
                resize: none;
            }
        }
    }
    &-forms-info{
        width: 100%;
    }
}
// =====================================>
.footer{
    height: 90px;
    // 
    background-color: #222222;
    section{
        justify-content: space-between;
        span{
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: bold; 
        }
    }
}
// =====================================>

// ==== DESKTOP ADAPTIVE =====================>

// ==== MOBILE ADAPTIVE =====================>

