
// ==== MIXINS =====================>
@mixin flexVar($dir, $just, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}
@mixin flexReg {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin brd {
    border: solid 1px gray;
}
// ==== MAIN =======================>
*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(238, 238, 238);
}
::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    max-width: 1920px;
    width: 100%;
    min-height: 100vh;
    // 
    margin: auto;
    // 
    background-color: #ffffff;
}
.center{
    @include flexReg();
    @include brd();
    // 
    max-width: 1170px;
    width: 95%;
    // min-height: 5em;
}
.block{
    @include flexReg()
}
.front-of{
    @include flexReg();
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // 
    z-index: 10;
    // 
    background-color: rgba(31, 56, 56, 0.301);
}
.color-light{
    color: #ffffff;
}
a{
    text-decoration: none;
}
// ==== HEADER =====================>

.contacts-line{
    height: 48px;
    margin: auto;

}

// ==== NAVIGATION ==================>
.navigation-block{
    height: 105px;
    margin: auto;
}
nav ul{
    display: flex;

    li{
        list-style-type: none;
        
        &+li{
            margin-left: 35px;
        }
        a{
            height: 100px;
            display: inline-block;
            @include brd; 
            display: flex;
            align-items: center;
            border-bottom: 3px solid #43a906;  
            // position: absolute;

        }
    }
}
// ==== BANER =====================>
.main-baner{
    height: 785px;
    // 
    overflow: hidden;
    position: relative;
    // 
    @include flexVar(row, center, center);
    img{
        // object-fit: cover;
        // object-position: center;
        width: 100%;
    }
}
.baner-title-btn-wrap{
    border: none;
    height: 280px;
    // 
    @include flexVar(column, space-between, center);
    .title{
        font-family: "Open Sans";
        font-size: 60px;
        font-weight: 400;
        // 
        font-weight: bold;
text-transform: uppercase;

    }
    a{
        display: block;
        padding: 24px 46px;
        border-radius: 2px;
        background-color: #1e352e;
        box-shadow: 2px 3px 5px  #041404a6;
    }
}
// =====================================>
.welcome-block{
    height: 645px;
}
.welcome-wrap{
    height: 420px;
    // 
    @include flexVar(column, space-between, center);
}
// =====================================>
.volunteer-block{
    height: 302px;
    // 
    background-color: #222222;
}
// =====================================>
.our-works-block{
    height: 1046px;

}
// =====================================>
.our-achivement-block{
    height: 567px;
    // 
    background-color: #bdbebd;
    // opacity: 0.22;
}
// =====================================>
.latest-event-block{
    height: 955px;
}
// =====================================>
.testimonials-block{
    height: 682px;
    // 
    background-color: #010501;
}
// =====================================>
.latest-blog-block{
    height: 927px;
}
// =====================================>
.wordpress-theme-block{
    height: 200px;
    // 
    background-color: #323232;
}
// =====================================>
.brands-line-block{
    height: 200px;
}
// =====================================>
.contact-us-block{
    height: 852px;
    // 
    background-color: #eeeeee;
}
// =====================================>
.footer{
    height: 90px;
    // 
    background-color: #222222;
}
// =====================================>

// ==== DESKTOP ADAPTIVE =====================>

// ==== MOBILE ADAPTIVE =====================>

